<header>
  <!-- Header section -->

  <section class="jumbotron bg-cover text-white"
    style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('assets/images/5604070.jpg');height: 680px;">
    <div class="container overlay">
      <h1 class="jumbotron-heading">Welcome to Salon Services</h1>
      <p class="lead">We offer a wide range of beauty services, including haircuts, styling, coloring, manicures,
        pedicures, and more.</p>
      <button class="btn btn-primary my-2" routerLink="/bookAppointment">Book now</button>
    </div>
  </section>


  <!-- Services section -->
  <section class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Our Services</h2>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top" src="assets/images/hair cut.webp" style="width:100%;height: 280px;"
              alt="https://via.placeholder.com/350x200">
            <div class="card-body">
              <h4 class="card-title">Haircuts & Styling</h4>
              <p class="card-text">Our experienced stylists can give you the perfect haircut and style to suit your face
                shape and personal style.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top" src="https://i.insider.com/5ea342c138bf23128b0ea764?width=1136&format=jpeg"
              style="width:100%;height: 280px;" alt="">
            <div class="card-body">
              <h4 class="card-title">Coloring</h4>
              <p class="card-text">Whether you want a subtle change or a bold new look, we offer a variety of coloring
                services to enhance your hair's natural beauty.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="card h-100">
            <img class="card-img-top" src="assets/images/massage.jpg" style="width:100%;height: 280px;" alt="">
            <div class="card-body">
              <h4 class="card-title">Massage Services</h4>
              <p class="card-text">Unwind with a relaxing massage from our experts</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
     
      <section class="mb-4">
        <p>
          Online Salon Service Application made with Angular and Springboot
        </p>
      </section>
    
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white">Capgemini</a>
    </div>
  
  </footer>
