<div class="container mt-5 d-flex justify-content-center">
    <!-- total ammount -->
    <div class="card p-4">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="total-amount">Total amount</h5>
            <div class="amount-container"><span class="amount-text"><span class="dollar-sign">Rs
                    </span>{{customer.cart?.amount}}</span>
            </div>
        </div>
        <!-- payment mode selector -->
        <div class="pt-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="paymentMode">Payment mode</label>
                        <select class="form-control" id="paymentMode" [(ngModel)]="payment.type"
                            (click)=" paymentType()">
                            <option>CASH</option>
                            <option>CARD</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- payment mode auto selected -->
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="locationSelect">Payment Status</label>
                    <input class="form-control" type="text" disabled value="{{payment.status}}">
                </div>
            </div>
        </div>
        <!-- buttons -->
        <div class="d-flex justify-content-between pt-5 align-items-center">
            <button type="button" class="btn cancel-btn" routerLink="/appointment">Cancel</button>
            <button type="button" class="btn payment-btn" [disabled]="payment.type==null"
                (click)="bookMyAppointment()">Make Payment</button>
        </div>
    </div>
</div>