<div class="page-header mx-md-n5 text-center" style="width: 100%; height:100px; margin-top:20px">
    <div class="container px-3 my-5 clearfix">
        <h1>
            All Appointments
        </h1>
    </div> 
</div>
<div class="container bootstrap snippets bootdey">
    <div *ngIf="appointment.length == 0">
        <p class="alert alert-info">You don't have any appointments to display.</p>
    </div>
    <div class="table-responsive " *ngIf="appointment.length>0">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
                <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1"
                    [(ngModel)]="query" class="form-control border-0 bg-light">
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                            class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <table class="table colored-header datatable project-list align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Customer</th>
                    <th>Appointment Id</th>
                    <th>Location</th>
                    <th>preferredDate</th>
                    <th>preferredTime</th>
                    <th>appointmentStatus</th>
                    <th>Services</th>
                </tr>
            </thead>
            <tbody *ngFor="let cust of customer| search:query">
               
                <tr *ngFor="let app of cust.appointments| search:query">
                    <td>{{cust.name}}</td>
                    <td>{{app.appointmentId}}</td>
                    <td>{{app.location}}</td>
                    <td>{{app.preferredDate}}</td>
                    <td>{{app.preferredTime}}</td>
                    <td> <span *ngIf="app.appointmentStatus=='BOOKED'"
                            class="badge badge-success rounded-pill d-inline">{{app.appointmentStatus}}</span>
                        <span *ngIf="app.appointmentStatus=='OPEN'"
                            class="badge badge-primary rounded-pill d-inline">{{app.appointmentStatus}}</span>
                        <span *ngIf="app.appointmentStatus=='CANCELED'"
                            class="badge badge-danger rounded-pill d-inline">{{app.appointmentStatus}}</span>
                    </td>
                    <td>
                        <ul>
                            <li class="list-group-item" *ngFor="let service of app.serviceList">
                                {{service.seviceName}}
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>