<div class="container">
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome Admin</h1>
         
        </div>
      </section>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Customers</h6>
                    <h2 class="text-center"><span>{{customers.length}}</span></h2>
                    <p class="m-b-0">Customers Registered</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Appointments</h6>
                    <h2 class="text-center"><span>  {{appointments.length}}</span></h2>
                    <p class="m-b-0">No. of Appointments</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">services</h6>
                    <h2 class="text-center"><span> {{services.length}}</span></h2>
                    <p class="m-b-0">No. of Services</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">payments</h6>
                    <h2 class="text-center"><span> {{payments.length}}</span></h2>
                    <p class="m-b-0">No. of Payments made</p>
                </div>
            </div>
        </div>
	</div>
 
</div>