.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(#FF5370,#ff869a);
}
.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
.card{
    border-radius: 20px;
}
.order-card:hover{
    animation: flicker 0.5s ease-in-out;
}
@keyframes flicker {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        opacity: 0.5;
        transform: scale(0.95);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}